:root {
  --black: #000000;
  --white: #fcfcfc;
  --limegreen: #72fc58;

  --grey: grey;
  --darkgrey: #333;
  --blue: blue;

  --boxshadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  --statblock-box: 2.8rem;

  --fontsize-xs: 20px;
  --fontsize-s: 30px;
  --fontsize-m: 40px;
  --fontsize-mp: 50px;
  --fontsize-l: 60px;
  --fontsize-xl: 70px;

  --fixed-s-gap: 10px;

  --spacing-unit: 1rem;
  --spacing-unit-xxs: calc(0.33 * var(--spacing-unit));
  --spacing-unit-xs: calc(0.66 * var(--spacing-unit));
  --spacing-unit-s: calc(1 * var(--spacing-unit));
  --spacing-unit-m: calc(1.5 * var(--spacing-unit));
  --spacing-unit-l: calc(2 * var(--spacing-unit));
  --spacing-unit-xl: calc(3.25 * var(--spacing-unit));
  --spacing-unit-xxl: calc(5.25 * var(--spacing-unit));
}

body {
  margin: 0;
}
