.main {
}

.navbar {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
}

.navbar p {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
}

.unitcard {
  margin: var(--spacing-unit-xxl);
  max-width: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--grey);
}
