.linksContainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: var(--spacing-unit-xs);
  padding: var(--spacing-unit-xs);
}

.armyLink {
  font-size: var(--fontsize-s);
}

.armyLink:link {
  color: var(--blue);
}

.armyLink:visited {
  color: var(--blue);
}
