.armyTitle {
  font-size: var(--fontsize-m);
  font-weight: bold;
  text-decoration: underline;
}

.armyLink {
  font-size: var(--fontsize-s);
}

.armyLink:link {
  color: var(--blue);
}

.armyLink:visited {
  color: var(--blue);
}
