.bodyClass {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.7)
    ),
    url(../../assets/loginhero.png);
    background-size: cover;
    padding: 0.1px;
}

.formDiv {
    background-color: var(--black);
    position: relative;
    max-width: 260px;
    margin: 200px auto 340px;
    padding: var(--spacing-unit-m);
    text-align: center;
    border-radius: var(--border-radius-s);

    font-family: var(--font-open-sans);
}

.formDiv h1 {
    color: var(--white);
}

.formInput {
    border-radius: var(--border-radius-xs);
    border: none;
    width: 100%;
    margin: 0 0 var(--fixed-s-gap);
    padding: var(--fixed-s-gap);
    box-sizing: border-box;
}

.submitButton {
    color: var(--black);
    border-radius: var(--border-radius-xs);
    background-color: var(--neongreen);
    border: 1px solid var(--black);
    font-size: var(--fontsize-xs);
    width: 80%;
    margin: 0 0 var(--fixed-s-gap);
}

.linkClass {
    color: var(--white);
    padding: var(--spacing-unit-xxs) var(--spacing-unit-xs);
    text-decoration: none;
}

.linkClass:active {
    color: var(--limegreen);
}
