.navbar {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
}

.navbar p {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
}
