/* reset */

.customarmydisplay {
  overflow: auto;
  text-align: center;
  color: var(--black);
  border-radius: var(--border-radius-xs);
  background-color: var(--white);
  font-size: 18px;
  margin-bottom: 15px;
}

.customarmydisplay button {
  margin: auto;
  max-height: 20px;
}

.AddButton {
  border-radius: var(--border-radius-xs);
  background-color: var(--neongreen);
  border: 1px solid var(--black);
  font-size: 15px;
  cursor: pointer;
}

.formContainer {
  width: 100%;
  /* margin-left: 20%; */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-unit-xs);

  padding: var(--spacing-unit-s);
}

.form input,
.form textarea {
  width: 100%;
  border-radius: var(--border-radius-s);
  padding: var(--spacing-unit-xs);
}

.form select {
  max-width: 60%;
  border-radius: var(--border-radius-s);
}

.form textarea {
  resize: none;
  min-height: 100px;
  border-radius: var(--border-radius-s);
}

.form button {
  padding: var(--spacing-unit-xxs) var(--spacing-unit-s);
  margin-bottom: 10px;
  border-radius: var(--border-radius-xs);
  background-color: var(--neongreen);
  max-width: 60%;
  font-size: 15px;
  cursor: pointer;
}

.TriggerButton {
  padding: var(--spacing-unit-xxs) var(--spacing-unit-s);
  margin-bottom: 10px;
  border-radius: var(--border-radius-xs);
  background-color: var(--neongreen);
  max-width: 200px;
  border: 1px solid var(--black);
  font-size: 15px;
  cursor: pointer;
}
