.main {
  background-color: var(--black);
  position: relative;
  min-height: 50vh;
}

.heroContainer {
  position: relative;
  width: 100%;
  height: 100%;
  left: 50%;
}

.heroImage {
  width: 50%;
  height: 10%;
  object-fit: cover;
  filter: brightness(50%);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  transform: translateX(-12.5%);
}

.content h1 {
  font-size: var(--fontsize-l);
  color: var(--limegreen);
}

.content p {
  max-width: 650px;
  color: var(--white);
  font-size: var(--fontsize-s);
}
