.navbar {
  display: flex;
  gap: var(--spacing-unit-xxl);
  min-width: 1055px;
  background-color: var(--black);
  width: auto;
  padding: var(--spacing-unit-xxs);
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.linkContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-unit-s);
}

.linkClass {
  color: var(--white);
  padding: var(--spacing-unit-xxs) var(--spacing-unit-xs);
  text-decoration: none;
  font-size: var(--fontsize-s);
}

.linkClass:active {
  color: var(--limegreen);
}

.profileIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  float: right;
  gap: var(--spacing-unit-s);
}
