.navbar {
  display: flex;
  gap: var(--spacing-unit-xxl);
  min-width: 1055px;
  background-color: var(--black);
  width: auto;
  padding: var(--spacing-unit-xxs);
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;
  font-family: var(--font-open-sans);
}

.navbarLeft {
  display: flex;
  gap: var(--spacing-unit-xl);
}

.navbarRight {
  display: flex;
  gap: var(--spacing-unit-xl);
  align-items: center;
}

.navbarRight input {
  border-radius: var(--border-radius-s);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.linkContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-unit-xxs);
}

.linkClass {
  color: var(--white);
  padding: var(--spacing-unit-xxs) var(--spacing-unit-xs);
  text-decoration: none;
  font-size: var(--fontsize-s);
}

.linkClass:active {
  color: var(--limegreen);
}

.profileIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  float: right;
  gap: var(--spacing-unit-s);
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  float: right;
  gap: var(--fixed-xxs-gap);
}

.formButton {
  border-radius: var(--border-radius-xs);
  background-color: var(--neongreen);
  border: 1px solid var(--black);
  font-size: var(--fontsize-xs);

  font-weight: bold;

  color: black;

  padding: var(--spacing-unit-xxs) var(--spacing-unit-xs);

  text-decoration: none;
}

.formButton:focus {
  outline: none;
}

.formButton:visited {
  color: black;
}
